# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
venv/
.pytest_cache/

# FastAPI
.env

# macOS
.DS_Store
.AppleDouble
.LSOverride

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Distribution / packaging
build/
dist/
*.egg-info/

# Unit test / coverage reports
.coverage
.coverage.*
htmlcov/

# Logs
*.log

storage/
